@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    /* margin-left: 60px; */
    padding-top: 60px;
    background-color: #181818;
    font-family: Poppins;
}

.card {
    background-color: #14141400;
    color: #C7C7C7;
    border: none;
}

.card-text {
    color: #888888;
    font-size: 0.8rem
}

nav {
    background-color: #202020;
    border-bottom: 1px solid #444;
}

.nav-link,
.navbar-brand,
.nav-link:focus,
.navbar-brand:focus {
    color: #b4b4b4;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #b4b4b4;
    scale: 1.2;
    cursor: pointer;

}

.css-13cymwt-control {
    background-color: #202020c9;
    border: 1px solid #444;
    color: #C7C7C7;
}

.form-control,
.form-control:focus {
    background-color: #202020;
    border: 1px solid #444;
    color: #C7C7C7;
}

.form-control:hover {
    border: 1px solid #8f8f8f;
}

.form-control:focus {
    box-shadow: 0px 0px 2px #ffffff;
}

.form-control::placeholder {
    color: #949494;
}

p,
h4,
h3,
h2,
h1,
label,
li {
    color: #C7C7C7;
    margin: 0px;
    padding: 0px;
}

.btn-primary {
    background-color: rgba(255, 192, 203, 0);
    border: 1px solid #444;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: rgba(255, 192, 203, 0);
    border: 1px solid #8f8f8f;
}

.btn-primary:active {
    background-color: rgba(255, 192, 203, 0) !important;
    border: 1px solid #8f8f8f !important;
}

.carousel-indicators {
    display: none;
}

.navbar-toggler {
    border: 1px solid #444;
}

@media only screen and (min-width: 769px) {
    .streamerPage {
        width: calc(100vw - 315px) !important;
        /* width: "calc(100vw - 315px)" !important; */
    }
}

@media only screen and (max-width: 768px) {
    #twitch-chat-embed {
        display: none !important;
    }
    .streamerPage {
        width: "100vw" !important;
    }
}